body{
    
        margin-left: 260px;
}
form{
    padding-top: 20px;
    background-color: rgba(97, 37, 13, 0.959);
    color: white;
    
    text-shadow: 2px 2px 3px  black;
    width: 500px;
    height: 500px;
    border-radius: 20px;
   
   
}
h3{
    text-align: center;
    color: black;
}
h1{
    text-align: center;
}
span{
    text-align: center;
}
#mensagem{
    margin-left: 27px;
    height: 100px;

}
.assunt{
    margin-left: 15px;
    width: 900px;
}
.entrada{
    background-color: rgb(246, 248, 136);
    margin-top: 20px;
    text-align: justify;
    margin-left: 50px;
    border-radius: 5px;
    width: 250px;
    height: 20px;
    
    
}
.botao{
    margin-left: 150px;
    background-color: black;
    color: white;
}
select{
    width: 160px;
    text-align: center;
    
}
.rotolus{
    text-align: right;
   
    float: left;

}
div{
    
    padding-left: 40px;
}